body {
    background-color: #212121;
    font-family: 'Roboto Mono', monospace;
}

.timer {
    text-align: center;
    margin-top: 10rem;
    font-size: 4rem;
    color: #fff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 700px;
}

.quote-display {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
    white-space: pre-wrap;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.quote-input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    color: #fff;
    width: 100%;
    text-align: center;
    resize: none;
}

.correct {
    color: #00ff00;
}

.incorrect {
    color: #ff0000;
    text-decoration: underline;
}